{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'userLog/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ride Sharer's page</h1>
    <h2>Unique To Do: Ride Status Viewing, Ride Searching</h2>
    <h2> Other Options:
        <a href="{% url 'userLog:rideRequest' %}">Request For A Ride</a>
        <a href="{% url 'userLog:driverInfo' %}">Register As A Driver</a>
        Ride Selection
    </h2>
    <a href="{% url 'userLog:home' %}">Back To Home Page</a>
</body>
</html>