{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'userLog/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Driver's page</h1>
        <div>
            <h2>Status</h2>
            <label>First Name: {{fname}}</label><br>
            <label>Last Name: {{lname}}</label><br>
            <label>Car Type: {{carType}}</label><br>
            <label>License Plate Number: {{license}}</label><br>
            <label>Number of Total Passengers: {{max_passenger}}</label><br>
            <form action = "{% url 'DriverRegister' %}" method = "POST">
                {% csrf_token %}
                <input type = "submit" value="Edit Status">
            </form>
        </div><br>
        <div>
            <h2>Search For A Ride</h2>
            <form action = "{% url 'DriverRideSearch' %}" method = "POST">                
                {% csrf_token %}  
                <label for="cars">Car Type (Optional: Click Any If Not Specified)</label><br>
                    <select name="carType" style= "height: 40px; width: 30%; padding: 12px 20px;
                        margin: 8px 0;" id="cars">
                        <option value="SUV">SUV</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Crossover">Crossover</option>
                        <option value="Minivan">Minivan</option>
                        <option value="ANY">Any</option>
                    </select><br>
                <label>Vehicle Capacity(Max of 8)</label><br>
                <input type="number" style= "height: 40px; width: 30%" name="num_passenger" min="1" max="8"><br>
                
                <label>Special Request</label><br>
                <input type="text" name="specialRequest" placeholder="optional"><br>
                
                <input type = "submit" value="Search">
            </form>
            <p> A driver should be able to search for open ride requests. Only requests
                which fit within the driver’s vehicle capacity and match the vehicle type and special request info
                (if either of those were specified in the ride request) should be shown. A driver can claim and
                start a ride service, thus confirming it. Once closed, the ride owner and each sharer should be
                nofied by email that the ride has been confirmed (hence no further changes are allowed).
            </p> 
        </div>
        <h3> Other Options: <p><a href="{% url 'RideRequest' %}">Request For A Ride</a> </p>
            
            Ride Selection
        </h3>
        <p><a href="{% url 'home' %}">Back To Home Page</a> </p>
    </div>
</body>
</html>